# LaTex files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*-blx.bib

.mypy_cache
/jena
/lubm
/rawdata
__pycache__
/runs
/checkpoints
/venv
/.vscode
/lightning_logs
/.vscode
/.pytest_cache